body{
    height:100vh;
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
}
input{
    align-items: center;
    padding:5px;
    margin:5px;
    margin-left: 30px;
    margin-right: 30px;
}
.hola{
    display:flex;
    flex-direction: column;
    background-color: white;
    border: solid black;
    border-radius: 10px;
}
input[type="submit"]{
    align-self: center;
}
#error{
    color:red;
    font-size: 14px;
}
h2{
    align-self: center;
}